
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
}
header{
    background: #181818;
    border-radius: 0px;
    padding: 24px 0;
}
.container{
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 32px;
    margin-top: 6px;
    display:inline-block;
}
.list{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 32px;
    margin-top: 6px;

}
.subtitle{
    font-family: 'Poppins',sans-serif;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 56px;
}
.subhead{
    font-family: 'Poppins',sans-serif;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 32px;
}
.rectangle{
    padding: 9px  20px 13px 20px;
    background: #FFFFFF;
    text-decoration: none;
    border-radius: 14px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.main_banner{
    background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), url(.jpg);
    border-radius: 0px;
    padding-top: 466px;
    padding-bottom: 71px;
    background-image: url('../images/picture.jpg');
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}
.slogan{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.text{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.paragraph{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.fixed_information li{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}
.fixed_information{
    position: absolute;
    bottom: 41px;
    right:40px;
}
.fixed_information li:before{
    content: "";
    background-image: url("../images/time.svg");
    width: 16px;
    height:16px;
    display: block;
    margin-right: 6px;
}
.fixed_information li:nth-child(2):before{
    content: "";
    background-image: url("../images/spiral.svg");
    width: 16px;
    height:16px;
    display: block;
    margin-right: 6px;
}
.fixed_information li:nth-child(3):before{
    content: "";
    background-image: url("../images/panel.svg");
    width: 32px;
    height:16px;
    display: block;
    margin-right: 6px;
}
.fixed_information li:last-of-type:before{
    content: "";
    background-image: url("../images/map_marker.svg");
    width: 10px;
    height:16px;
    display: block;
    margin-right: 6px;
}
.box{
    background: #000000;
    border-radius: 0px;
    padding-top: 113px;
    padding-bottom: 169px;
}
.caption{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.article{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-top: 15px;
}
.sponsor{
    max-width: 1240px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding-top: 111px;
}


