@font-face {
    font-family: 'Poppins';
    src: url('../Poppins-Regular.eot');
    src: url('../Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../Poppins-Regular.woff2') format('woff2'),
    url('../Poppins-Regular.woff') format('woff'),
    url('../Poppins-Regular.ttf') format('truetype'),
    url('../Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
}
header{
    background: #181818;
    border-radius: 0px;
    padding: 24px 0;
}
.container{
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 32px;
    margin-top: 6px;
    display:inline-block;
}
.list{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 32px;
    margin-top: 6px;

}
.subtitle{
    font-family: 'Poppins';
    font-family: 'Poppins';
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 56px;
}
.subhead{
    font-family: 'Poppins';
    font-family: 'Poppins';
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 32px;
}
.rectangle{
    padding: 9px  20px 13px 20px;
    background: #FFFFFF;
    text-decoration: none;
    border-radius: 14px;
    font-family: 'Poppins';
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
section{
    background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), url(.jpg);
    border-radius: 0px;
    padding-top: 466px;
    padding-bottom: 71px;
    background-image: url('../images/picture.jpg');
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
}
.slogan{
    font-family: 'Poppins';
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.text{
    font-family: 'Poppins';
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.paragraph{
    font-family: 'Poppins';
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}

